<div class="col-xs-12">
	<%= link_to "Take Photo ->", new_photograph_path %><br>
	<%= link_to "Create Hub ->", new_timelapse_hub_path %><br>
	<%= link_to "View Your Timelapses ->", timelapse_hubs_path %><br>
</div>