<% if user_signed_in? %>
	<div class="col-xs-12">
		<div id="root"></div>
	</div>
<% else %>
	<div class="col-xs-12" style="text-align:center;margin-top:50px">
		<h2><%= @hub.hub_name %></h2>
		<div id="landingTimelapseContainer">
			<%= render partial: "partials/timelapse_hub_show", locals: {data: {class_name: "col-xs-12", hub: @hub, photographs: @photographs}} %>
		</div>		
	</div>
	
	<div class="col-xs-12" style="text-align:center;">
		<%= render partial: "partials/speed_display" %>
	</div>
	
	<%= render partial: "partials/timelapse_javascript" %>
<% end %>

