<div class="col-xs-12">
	<p>To Create a new Hub.  Just snap a picture from where you'd like the hub to be, then select "Create Hub" once the photo is uploaded</p>

	<%= link_to "Take Photo Now ->", new_photograph_path %>
</div>

