<!-- 
@hubs
@total_images_hash (#number of images per timelpase)  -->



<div class="col-xs-12" style="margin-bottom:50px">
	<h2 style="width:200px;display:inline-block">Your Hubs</h2>
	<%= render partial: "partials/speed_display" %>
</div>

<div class="col-xs-12">
	<% @hubs.each do |hub| %>
	
		<div class="col-xs-12 col-sm-6">
			<%= link_to "#{hub.hub_name}", timelapse_hub_path(hub) %>
			
			<%= render partial: "partials/timelapse_hub_show", locals: {data: {class_name: "col-xs-12 ", hub: hub, photographs: hub.photographs}} %>
		</div>
		
	<% end %>
</div>

<%= render partial: "partials/timelapse_javascript" %>