<div class="col-xs-12">
	<h2><%= @hub.hub_name %></h2>
	<ul>
		<% @photographs.each do |photo| %>
		<li class="timelapse-image-container">
			<%= image_tag photo.image.url(:small) %>
		</li>
		<% end %>
	</ul>
</div>
