<div style="margin-top:10px;margin-bottom:10px">
	<p className="terms-agreement">
		By signing up I agree to Stank Or Dank&#39;s&nbsp;
		<%= link_to "Terms of Service", terms_of_service_url, target: "_blank" %> 
		and&nbsp;
		<%= link_to "Payment Terms of Service", payment_terms_of_service_url, target: "_blank" %>
	</p>
</div>