<div class="timelapse-display <%= data[:class_name] %>" data-hub-id="<%= data[:hub].id %>" style="border:1px solid #767676;border-radius:4px;text-align:center;">
	
	<p id="picSequenceDisplay"></p>
	
	<% hub_length = data[:photographs].length %>
	<% data[:photographs].each_with_index do |pic, idx| %>
			<% if idx == 0 %>
					<%= image_tag pic.image.url(:small), data: { order_id: 0}, class: "timelapse-image active" %>
			<% else %>	
					<%= image_tag pic.image.url(:small), data: { order_id: (pic.order_number - 1)}, class: "display-none timelapse-image" %>
			<% end %>
	<% end %>
</div>